
.hero-section {
  background: url("https://sursock.museum/sites/default/files/styles/front_slider/public/header-at-the-still-point-tour.png?itok=qaZdQ5zY") 50% no-repeat;
  background-size: cover;
  height: 60vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-section .hero-section-text {
  color: #fefefe;
  text-shadow: 1px 1px 2px #BA5A31;
}

h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style:oblique;
  color:#BA5A31 ;
  margin: 15px;

}

#Artwork {
font-size: 30px;
font-weight: bold;
font-style: italic;
color:#BA5A31;

}

#genres {
  font-weight:bold;
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button {
  position: relative;
  background-color: #247ba0;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  margin: 15px;
  padding: 20px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.button:after {
  content: "";
  background: #BA5A31;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}


#liked-art{
  list-style-type: none;
  background-color: #BA5A31;
  border: 5px solid #247ba0 ;
  border-radius: 50px;
font-size: 25px;
}



.liked-art-URL{
  
display: flex;
justify-content: center;
color: #3E0BCB;
}


h6 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style:oblique;
}